<div>
    <form action="/posts/{{post.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        {{> form-messages}}

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Title</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control form-control-user"
                                value="{{post.post_title}}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-user" name="content" cols="30" rows="10"
                                required>{{post.post_desc}}</textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" name="allow_comments" class="custom-control-input"
                                    id="customCheck" {{#if post.allow_comments }} checked="checked" {{/if}}>
                                <label class="custom-control-label" for="customCheck">Allow Comments</label>
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Status</h6>
                    </div>
                    <div class="card-body">
                        <select class="w-100 p-2 btn btn-primary" name="status" id="category">
                            {{#each status}}
                            <option value={{id}}>{{status_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Category</h6>
                    </div>
                    <div class="card-body">
                        <select class="w-100 p-2 btn btn-primary" name="category" id="category">
                            {{#each categories}}
                            <option value={{id}}>{{category_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Featured Image</h6>
                    </div>
                    <div class="card-body">
                        {{#if post.file}}
                        <img src="/uploads/{{post.file}}" alt="" class="w-100 mb-4">
                        {{else}}
                        <p>No Image Uploaded</p>
                        {{/if}}
                        <input type="file" name="featuredImage" class="btn btn-primary w-100" id="featuredImage"
                            value="{{post.file}}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <form action="#" method="POST">
        <div class="card mb-4 text-white bg-danger">
            <div class="card-body">
                Errors or Validation
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                    </div>
                    <div class="p-4">
                        {{#if post.allow_comments}}
                        {{#each post.comments}}
                        <div class="card-body p-0 pb-4">
                            <div class="card bg-light text-black">
                                <div class="card-body">
                                    Comment #1
                                    <div class="text-black-50 small">Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit.
                                        Quae exercitationem eum aperiam natus a voluptatem eaque ut ea aspernatur sequi
                                        suscipit
                                        non delectus maiores sint perferendis deserunt, ducimus corporis nostrum!</div>
                                    <br>
                                    <p class="m-0 small text-danger">Put a delete button</p>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <h4 class="text-center text-red">No Comments for this Post</h4>
                        {{/each}}

                        {{else}}
                        <h4 class="text-center bg-gray-100 p-4">Comments for this blog post is disabled</h4>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                {{#if post.allow_comments}}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Comment Box</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control form-control-user" name="content" placeholder="Content..."
                                cols="30" rows="10"></textarea>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </form>
</div>