<h1>Posts</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, cum autem ullam nostrum pariatur id provident, ut
    quas at itaque distinctio nihil qui perferendis. Natus placeat quis doloribus cum nemo.</p>
<div class="card shadow mb-12">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>#</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each post_list}}
                    <tr>
                        {{#each this}}
                        {{#if post_title}}
                        <td>{{_id}}</td>
                        <td>{{post_date}}</td>
                        <td>{{post_title}}</td>
                        <td>[]</td>
                        <td>{{status}}</td>
                        {{/if}}
                        {{/each}}
                        {{else}}
                        <td class="text-danger text-center" colspan="5"><strong>No content</strong></td>
                    </tr>

                    {{/each}}
                </tbody>

                <tfoot>
                    <tr class="bg-primary text-white">
                        <th>#</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>